/*Esta hoja de estilos carga la apariencia del interior de los contenedores 
del centro de la página(section y aside) de las páginas que son secciones de 
la web(javascript, php, mysql y java actualmente).

Es decir, carga la apariencia de los artículos y del interior del aside*/


article{
    margin: auto;
    width: 90%;
    border-bottom: rgb(180, 180, 180) 1px solid;
    transition: ease-in-out 0.5s 0s;
    padding: 5% 0%;
    margin-bottom: 5%;
}

article p{
    line-height : 140%;
}

.articulosSecundarios>img, .articulosSecundarios>div{
    display: inline-block;
    width: 45%;
    margin-right: 2%;
}

.articulosSecundarios{
    padding-left: 5%;
}

article>div{
    width: 50%;
    vertical-align: top;
    margin-left: 5%;
}

article:hover{
    background-color: rgba(72,27,154,0.3);
}


article h2{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    margin-bottom: 1%;
}

#articuloPrincipal{
    margin: auto;
    margin-bottom: 10%;
    padding-left: 5%;
    background-color: rgba(224, 224, 224, 0.5);
    box-shadow: rgba(41, 41, 41, 0.5) 0px 0px 3px 1px;
    transition: ease-in-out 0.5s 0s;
}

#articuloPrincipal>img{
    width: 95%;
    margin: auto;
}

.anclaArticulo:link, .anclaArticulo:visited, .anclaArticulo:active{
    text-decoration:none;
    color: black;
}

#articuloPrincipal>div{
    width: 95%;
    margin-left: 0%;
    margin-top: 5%;
}

#articuloPrincipal:hover{
    background-color: rgba(72,27,154,0.3);
}

.infoPost{
    display: inline-block;
    margin-bottom: 2%;
    color: rgb(85, 85, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

#autorPost{
    float: right;
    font-style: italic;
}


.anclaLeerMas>p{
    margin-top: 6%;
    text-align: right;
}

#pestañaNuevoPostParrafo{
    background: linear-gradient(90deg, rgba(113,196,21,1) 0%, rgba(3,142,26,1) 100%);
    text-align: center;
    padding: 1.5% 2%;
    width: 93px;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: black 1px 1px 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

#pestañaNuevoPostParrafo:hover{
    background: linear-gradient(90deg, rgba(236,230,15,1) 0%, rgba(205,161,14,1) 100%);
}

#pestañaNuevoPost:link, #pestañaNuevoPost:visited, #pestañaNuevoPost:active {
    text-decoration:none;
    color: black;
}

.numPaginacion{
    color: blue;
    font-size: 1.1em;
}

.numPaginacion:hover{
    color: rgb(108, 15, 214);
    font-size: 1.1em;
}

.numPaginacion:link, .numPaginacion:visited, .numPaginacion:active {
    text-decoration:none;
}

#contenedorPaginacion{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}


/*DISEÑO RESPONSIVE*/

@media(max-width: 1200px){

    .articulosSecundarios>img, .articulosSecundarios>div{
        display: block;
        width: 90%;
    }

    #articuloPrincipal>div, .articulosSecundarios>div{
        margin-left: 0%;
        margin-top: 5%;
    }

    

}

@media(max-width: 720px){

    aside{
        display: none;
    }

    #articuloPrincipal{
        width: 95%;
    }

    .articulosSecundarios>img{
        width: 90%;
    }

    .articulosSecundarios{
        padding-left: 10%;
        width: 90%;
    }

    section{
        display: block;
        width: 82%;
    }

}

@media(max-width: 600px){

    article h2{
        font-size: 1.3em;
    }

    article p{
        font-size: 0.8em;
    }

    .infoPost{
        font-size: 1em;
    }
    
}