
/*Hoja de estilos comun en todas las paginas que nos mostrará
el navegador igual en todas las paginas*/

/*Aqui empezamos nuestra hoja de estilos*/

/*Estilos de fuentes*/
strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

u{
    text-decoration: underline;
}



/*Estilos del navegador*/
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 238, 238);
    height: 100%;
}

body{
    height: 100%;
}

#navCompleto{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 11px 4%;
    background: linear-gradient(90deg, rgb(41, 19, 107) 23%, rgba(72,27,154,1) 80%, rgba(89,30,215,1) 100%);
    box-shadow: rgba(89,30,215,0.6) 0px 2px 3px;
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}

menu{
    padding-right: 4.8%;
}

#iconoMenu{
    background-image: url("../imagenes/icono_menu.png");
    background-position: center;
    background-size: contain;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

#iconoMenu, menu>p{
    display: inline-block;
}

.divisionesMenu{
    display: inline-block;
    width: 70%;
}

.elementosMenu{
    display: inline-block;
    margin-right:2%;
    padding-right: 2%;
    border-right: rgb(255, 255, 255) 2px solid;
}

#loginMenu, #opcionMenuUser{
    border: none;
}

#opcionMenuUser{
    width: 20%;
}

#logoMenu{
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    vertical-align: top;
    margin-top: 7px;
}

menu a{
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

menu a:hover{
    color: rgb(224, 221, 16);
}


/*Estilos del navegador movil*/
#navMobile{
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    background: linear-gradient(90deg, rgb(41, 19, 107) 23%, rgba(72,27,154,1) 80%, rgba(89,30,215,1) 100%);
    box-shadow: rgba(89,30,215,0.6) 0px 2px 3px;
    font-weight: bold;
    font-size: 1.1em;
    height: 100%;
}

.opcionesMenu{
    border-bottom: rgb(25, 15, 59) 1.5px solid;
    padding: 20px 40px;
}

#ultimoLi{
    padding: 20px 40px;
}

#navMobile a{
    color: white;
}

#navMobile a:link, #navMobile a:visited, #navMobile a:active {
    text-decoration:none;
}

#iconoMenuMobile{
    background-image: url("../imagenes/icono_menu.png");
    background-position: center;
    background-size: contain;
    height: 35px;
    width: 35px;
    margin-left: 30px;
    margin-top: 11px;
    cursor: pointer;
}


/*Estilos del footer*/
#footerWeb{
    background-color: rgb(24, 24, 36);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 2%;
    padding-bottom: 1%;
    box-shadow: black 1px 1px 2px 2px;
}

#infoAdicional{
    text-align: left;
}

#infoAdicional ul{
    margin-left: 40%;
}

#infoAdicional ul>li{
    margin-bottom: 5%;
}

#infoAdicional ul>li>a:link, #infoAdicional ul>li>a:visited, #infoAdicional ul>li>a:active{
    color: white;
    text-decoration: none;
}

.divisionesFooter{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-bottom: 2%;
}

#footerWeb>div:nth-child(2) {
    border-right: rgb(185, 185, 185) 1px solid;
    border-left: rgb(185, 185, 185) 1px solid;
    padding: 0% 2% 5% 2%;
}

#copyrightMessage{
    padding-top: 1%;
    border-top: rgb(185, 185, 185) 1px solid;
    font-size: 0.8em;
    width: 90%;
    margin: auto;
}

.iconosRRSS{
    display: inline-block;
    width: 38px;
    margin: 4% 2% 0% 2%;
    background-color: white;
    transition: ease-in-out 0.4s;
}

.iconosRRSS:hover{
    background-color: rgb(224, 221, 16);
}

/*Footer mobile*/
#footerMobile{
    display: none;
    background-color: rgb(24, 24, 36);
    box-shadow: black 1px 1px 2px 2px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    text-align: center;
    padding: 10px;
}

#infoFooterMobile{
    margin-bottom: 20px;
}

.iconosRRSSmobile{
    display: inline-block;
    width: 25px;
    margin: 4% 2% 0% 2%;
    background-color: white;
    transition: ease-in-out 0.4s;
}

.iconosRRSSmobile:hover{
    background-color: rgb(224, 221, 16);
}

#foot-cont-1, #foot-cont-2{
    display: inline-block;
    width: 48%;
    margin-bottom: 10px;
}

#foot-cont-1>p{
    font-size: 0.9em;
}

#foot-cont-2{
    font-size: 0.9em;
    vertical-align: top;
}

#foot-cont-2>ul>li{
    margin-bottom: 5px;
}

#foot-cont-2 ul>li>a:link, #foot-cont-2 ul>li>a:visited, #foot-cont-2 ul>li>a:active{
    color: white;
    text-decoration: none;
}


/*Aceptar cookies*/
#aceptarCookies{
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    position: fixed;
    bottom: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#aceptarCookies>p{
    padding: 15px;
    padding-bottom: 0%;
}

#formCookies{
    text-align: center;
    padding: 15px 0%;
}

#aceptar{
    background-color: rgb(0, 218, 0);
    border: none;
    width: 100px;
    height: 30px;
    box-shadow: green 0px 0px 2px 1px;
    margin-right: 2px;
}

#denegar{
    background-color: red;
    border: none;
    width: 100px;
    height: 30px;
    box-shadow: rgb(131, 6, 6) 0px 0px 2px 1px;
    margin-left: 2px;
}

#aceptarCookies>p>a{
    color: rgb(154, 147, 253);
}



/*DISEÑO RESPONSIVE*/
@media(max-width: 788px){

    #aceptarCookies{
        font-size: 0.9em;
    }
}

@media(max-width: 445px){

    #logoMenu{
        width: 80%;
        font-size: 0.9em;
    }

    #aceptar{
        width: 70px;
        height: 25px;
    }
    
    #denegar{
        width: 70px;
        height: 25px;
    }

    #footerWeb{
        display: none;
    }

    #footerMobile{
        display: inherit;
    }

}