
/*Hoja de estilos comun en todas las paginas que nos mostrará
el navegador igual en todas las paginas*/

/*Aqui empezamos nuestra hoja de estilos*/

/*Estilos de fuentes*/
strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

u{
    text-decoration: underline;
}



/*Estilos del navegador*/
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 238, 238);
    height: 100%;
}

body{
    height: 100%;
}

#navCompleto{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 5%;
    background: linear-gradient(90deg, rgb(41, 19, 107) 23%, rgba(72,27,154,1) 80%, rgba(89,30,215,1) 100%);
    box-shadow: rgba(89,30,215,0.6) 0px 2px 3px;
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}

#iconoMenu{
    display: none;
    background-image: url("../imagenes/icono_menu.png");
    background-position: center;
    background-size: contain;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.divisionesMenu{
    display: inline-block;
    width: 70%;
}

.elementosMenu{
    display: inline-block;
    margin-right:2%;
    padding-right: 2%;
    border-right: rgb(255, 255, 255) 2px solid;
}

#loginMenu, #opcionMenuUser{
    border: none;
}

#opcionMenuUser{
    width: 20%;
}

#logoMenu{
    text-align: right;
    width: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

menu a{
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

menu a:hover{
    color: rgb(224, 221, 16);
}


/*Estilos del navegador movil*/
#navMobile{
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    background: linear-gradient(90deg, rgb(41, 19, 107) 23%, rgba(72,27,154,1) 80%, rgba(89,30,215,1) 100%);
    box-shadow: rgba(89,30,215,0.6) 0px 2px 3px;
    font-weight: bold;
    font-size: 1.1em;
    height: 100%;
}

.opcionesMenu{
    border-bottom: rgb(25, 15, 59) 1.5px solid;
    padding: 20px 40px;
}

#ultimoLi{
    padding: 20px 40px;
}

#navMobile a{
    color: white;
}

#navMobile a:link, #navMobile a:visited, #navMobile a:active {
    text-decoration:none;
}

#iconoMenuMobile{
    background-image: url("../imagenes/icono_menu.png");
    background-position: center;
    background-size: contain;
    height: 35px;
    width: 35px;
    margin-left: 30px;
    margin-top: 11px;
    cursor: pointer;
}


/*Estilos del footer*/
footer{
    background-color: rgb(24, 24, 36);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 2%;
    padding-bottom: 1%;
    box-shadow: black 1px 1px 2px 2px;
}

#infoAdicional{
    text-align: left;
}

#infoAdicional ul{
    margin-left: 40%;
}

#infoAdicional ul>li{
    margin-bottom: 5%;
}

#infoAdicional ul>li>a:link, #infoAdicional ul>li>a:visited, #infoAdicional ul>li>a:active{
    color: white;
    text-decoration: none;
}

.divisionesFooter{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-bottom: 2%;
}

footer>div:nth-child(2) {
    border-right: rgb(185, 185, 185) 1px solid;
    border-left: rgb(185, 185, 185) 1px solid;
    padding: 0% 2% 5% 2%;
}

#copyrightMessage{
    padding-top: 1%;
    border-top: rgb(185, 185, 185) 1px solid;
    font-size: 0.8em;
    width: 90%;
    margin: auto;
}

.iconosRRSS{
    display: inline-block;
    width: 38px;
    margin: 4% 2% 0% 2%;
    background-color: white;
    transition: ease-in-out 0.4s;
}

.iconosRRSS:hover{
    background-color: rgb(224, 221, 16);
}

/*Aceptar cookies*/
#aceptarCookies{
    position: absolute;
    position: fixed;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height : 120%;
    padding: 1% 0% 1% 3%;
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:70px; /*alto del div*/
    z-index:0;
}

#aceptarCookies>p, #aceptarCookies>form{
    display: inline-block;
}

#aceptarCookies>p{
    width: 85%;
}

#aceptarCookies>form{
    width: 10%;
    vertical-align: top;
}

.botonesCookies{
    display: inline-block;
    width: 100px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[name="aceptar"]{
    background-color: rgb(43, 228, 19);
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 20%;
    margin-bottom: 5%;
}

input[name="denegar"]{
    background-color: rgb(197, 1, 1);
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 20%;
    margin-bottom: 5%;
}


/*DISEÑO RESPONSIVE */

@media(max-width: 1343px){

    .divisionesMenu:first-child{
        width: 56%;
    }

    #logoMenu{
        width: 15%;
    }

    .elementosMenu{
        margin-right: 5%;
    }

    #navCompleto{
        padding-right: 3%;
    }

}

@media(max-width: 1343px){

    menu>ul{
        display: none !important;
    }

    menu{
        padding-right: 4.8%;
    }

    #navCompleto{
        padding: 11px 4%;
    }

    #logoMenu{
        width: 90%;
        vertical-align: top;
        margin-top: 7px;
    }

    #iconoMenu, menu>p{
        display: inline-block;
    }

    #aceptarCookies>p{
        width: 80%;
    }

    #aceptarCookies>p{
        width: 75%;
    }

    #aceptarCookies{
        height: 80px;
    }

}

@media(max-width: 753px){

    #aceptarCookies{
        height: 105px;
    }

}

@media(max-width: 638px){

    #aceptarCookies{
        height: 120px;
    }

}

@media(max-width: 600px){

    footer>div>p{
        font-size: 0.8em;
    }

    .iconosRRSS{
        width: 30px;
    }

    #copyrightMessage{
        font-size: 0.6em;
    }

    #aceptarCookies>p{
        width: 70%;
    }

}

@media(max-width: 583px){

    #aceptarCookies{
        height: 145px;
    }

}

@media(max-width: 529px){

    #aceptarCookies{
        height: 165px;
    }

}

@media(max-width: 474px){

    #logoMenu{
        width: 80%;
    }

}



