#login, #registro{
    width: 40%;
    margin: auto;
    text-align: center;
}

label{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.loginInput{
    width: 96%;
    margin: 2% 0% 10% 0%;
}

#navCompleto{
    position: static;
}

input[name="recordarDatos"], label[for="recordar"]{
    display: inline-block;
    width: 8%;
    vertical-align: top;
    margin-top: 2%;
}

label[for="recordar"]{
    font-weight: normal;
    width: 88%;
    font-size: 0.8em;
}

input[type="submit"]{
    margin: auto;
    margin-top: 20%;
    width: 50%;
    height: 2em;
    color: black;
    border: black 1px solid;
    box-shadow: rgb(122, 122, 122) 0px 0px 1px 1px;
    border-radius: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    transition: ease-in-out 0.1s 0s;
}

input[type="submit"]:hover{
    background-color: rgb(190, 159, 248);
    border-color: rgba(72,27,154,1);
    width: 52%;
    font-weight: bold;
}

#contenedorLogin{
    margin: 10% auto 10% auto;
    display: flex;
    align-items: center;
    width: 370px;
    padding: 3% 0%;
    border: rgba(0, 0, 0, 0.7) 2px solid;
    box-shadow: rgb(72,27,154) 0px 0px 4px 2px;
}

#contenedorTextos{
    text-align: left;
}

#contenedorRegistro{
    margin: 6% auto 10% auto;
    display: flex;
    align-items: center;
    width: 370px;
    padding: 3% 0%;
    border: rgba(0, 0, 0, 0.7) 2px solid;
    box-shadow: rgb(72,27,154) 0px 0px 4px 2px;
}

#mensajeRegistro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 0.8em;
    margin-top: 35%;
}



/*DISEÑO RESPONSIVE*/

@media(max-width: 720px){

    #contenedorLogin{
        border: none;
        box-shadow: none;
        
    }

    #contenedorRegistro{
        border: none;
        box-shadow: none;
    }

}