/*Esta plantlla css da estilo a los formularios para crear nuevos post, 
por lo que debe ser incluida en nuevo_post*/

label{
    display: block;
    margin-bottom: 1%;
}

input[type="text"]{
    width: 97%;
    height: 1.5em;
    margin-bottom: 2%;
}

textarea{
    width: 97%;
    height: 25em;
}

input[type="submit"]{
    margin-top: 3%;
    width: 10%;
    height: 2em;
}

select{
    width: 15%;
    height: 2em;
    margin-top: 2%;
}

span{
    border: black 1px solid;
    padding: 0.1% 0.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
}

span:hover{
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

#imgPrincipal{
    margin-bottom: 2%;
}