/*Esta plantlla css da estilo a los formularios para crear nuevos post, 
por lo que debe ser incluida en nuevo_post*/

label{
    display: block;
    margin-bottom: 1%;
}

input[type="text"]{
    width: 97%;
    height: 1.5em;
    margin-bottom: 2%;
}

#content{
    width: 97%;
    height: 25em;
}

#description{
    width: 97%;
    height: 5em;
    margin-bottom: 2%;
}

input[type="submit"]{
    margin-top: 3%;
    width: 90px;
    height: 2em;
}

select{
    width: 150px;
    height: 2em;
    margin-top: 2%;
}

#optionText-container>span{
    background-color: rgb(247, 247, 247);
    border: black 1px solid;
    padding: 0.1% 0.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
}

#optionText-container>span:hover{
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

#imgPrincipal{
    margin-bottom: 2%;
}