#tituloPost{
    display: inline-block;
    width: 42%;
    margin-top: 130px;
    margin-bottom: 20px;
}

#editorOculto{
    display: none;
}

#confirmarBorrarPost{
    display: none;
    position: absolute;
    position: fixed;
    top: 150px;
    height: 150px;
    width: 20%;
    background-color: rgb(216, 193, 255);
    border: rebeccapurple 2px solid;
    box-shadow: rebeccapurple 0px 1px 3px;
    text-align: center;
    left: 27%;
}

#confirmarBorrarPost>p{
    margin-top: 12%;
}

#confirmarBorrarPost input{
    width: 80px;
    height: 30px;
    border: none;
}

#confirmarBorrarPostSi{
    background-color: rgb(26, 243, 26);
    box-shadow: rgb(7, 184, 7) 0px 1px 2px;
}

#confirmarBorrarPostNo{
    background-color: rgb(255, 30, 30);
    box-shadow: rgb(189, 31, 10) 0px 1px 2px;
}

section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 130%;
    font-size: 1.2em;
}

section img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 2px;
}

#optionsAdminContainer{
    display: inline-block;
    width: 21%;
    text-align: right;
}

.iconosAdministracionPost{
    width: 25px;
}

#editar{
    margin-right: 1.5%;  
}

.fuentesGrandes{
    border: none;
    font-size: 1.2em;
}

.fuentesMuyGrandes{
    border: none;
    font-size: 1.7em;
}


/*DISEÑO RESPONSIVE*/

@media(max-width: 720px){

    #tituloPost{
        width: 65%;
    }

    .iconosAdministracionPost{
        width: 22px;
    }

}

@media(max-width: 450px){

    #tituloPost{
        margin-top: 110px;
    }

    section{
        font-size: 1.1em;
    }

    .fuentesGrandes{
        font-size: 1.1em;
    }
    
    .fuentesMuyGrandes{
        border: none;
        font-size: 1.4em;
    }

}