#tituloPost{
    display: inline-block;
    width: 42%;
    margin-top: 130px;
}

#editorOculto{
    display: none;
}

section img{
    width: 100%;
}

#optionsAdminContainer{
    display: inline-block;
    width: 21%;
    text-align: right;
}

.iconosAdministracionPost{
    width: 25px;
}

#editar{
    margin-right: 1.5%;  
}